/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&family=Montserrat:wght@300&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #BF0603   ;
  --secondary-color: #000080 ;
  --accent1-color: #8D0801;
  --accent2-color: #001427;
  --shadow-color: #6f7364;

  /* change the values below to your chosen font(s) */
  --heading-font: Merienda, Tahoma, "Times New Roman";
  --paragraph-font: Montserrat, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #000080;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #001223; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #000080  ;
  --nav-link-color: white;
  --nav-background-color: #8D0801;
  --nav-hover-link-color: #DF8381;
  --nav-hover-background-color: #001427;
}

a{
    font-family: var(--heading-font);
}
body{
    background-color: var(--primary-alt-color);
    font-size: 22px;
    margin: 0;
    padding: 0;
}
footer{
    background-color: var(--accent2-color);
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a{
    color: var(--paragraph-color-on-color);
    text-decoration: none;
}
footer a:hover{
    color: var(--primary-alt-color);
}
footer h3{
    color: var(--paragraph-color-on-color);
}
footer h3 a:hover{
    text-decoration: underline;
}
footer .social img{
    padding-top: 15px;
}
h1, h2, h3, h4, h5 {
    font-family: var(--heading-font);
}
h2{
    margin: 0;
}
h4{
    color: var(--secondary-alt-color);
}
h5{
    font-size: 1.8vw;
}
header{
    background-color: var(--accent1-color);
    display: grid;
    grid-template-columns: 150px auto;
}
main section{
    text-align: center;
}
main section img{
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-around;
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
}
nav a{
    text-align: center;
    color: var(--primary-alt-color);
    text-decoration: none;
    padding: 35px;
}
nav a:hover{
    background-color:var(--primary-color);
    color: var(--secondary-alt-color);
}
p{
    font-family: var(--paragraph-font);
}
  
/*  Site plan classes   */

.button-box{
    text-align: center;
}
.general-msg{
    text-align: center;
    margin: 3em 10em ;
}
.logo{
    width: 80px;
}
.msg{
    background-color: var(--primary-color);
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px var(--shadow-color);
}
.msg h2{
    color: var(--primary-alt-color);
    line-height: 1.5em;
}
.msg p{
    color: var(--primary-alt-color);
    font-size: 0.8em;
    padding-bottom: 15px;
}
/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color:  var(--accent1-color);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    max-width: 1600px;
    justify-content: space-around;
    text-align: center;
    color: var(--primary-alt-color);
    text-decoration: none;
}
  
  /* Links inside the navbar */
.navbar a {
    float: left;
    text-decoration: none;
    text-align: center;
    color: var(--primary-alt-color);
    text-decoration: none;
    padding: 0px 35px;
    justify-self: center;
    height: 100%;
}
.navbar nav{
    display: flex;
    justify-content: space-around;
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
}
.navbar nav a{
    text-align: center;
    color: var(--primary-alt-color);
    text-decoration: none;
    padding: 35px;
}
.navbar nav a:hover{
    background-color:var(--primary-color);
    color: var(--secondary-alt-color);
}

/*  Web Site Ids    */ 

#background{
    height: 725px;
    background-color: var(--accent2-color);
    grid-column: 1/11;
    grid-row: 4/9;
}
#banner{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 3fr 0.5fr 0.5fr;
    margin-top: -100px;
}
#banner-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#banner-img{
    width: 100%;
}
#banner-msg{
    grid-column: 2/3;
    grid-row: 2/4;
    text-align: center;
    color: var(--paragraph-color-on-color);
    background-color: var(--paragraph-background-color);
}
#content{
    max-width: 1600px;
    margin: 0 auto;
}
#logo_link{
    padding-top: 10px;
    justify-self: center;
    align-self: center;
}



/* Specific home page*/
.home-grid{
    display: grid;
    grid-template-columns: 0.5fr 4fr 1fr 4fr 1fr 4fr 0.5fr;
}
#cousine-img{
    grid-column: 2/4;
    width: 25vw;
    border: 10px solid var(--accent2-color);
    transition: transform .5s;
}
#cousine-img:hover{
    opacity: .6;
    transform: scale(1.1);
}   
#cousine-msg{
    grid-column: 4/7;
    padding-left: 35px;
}
#customers-img{
    grid-column: 6/7;
    width: 25vw;
    border: 10px solid var(--accent2-color);
    transition: transform .5s;
}
#customers-img:hover{
    opacity: .6;
    transform: scale(1.1);
}
#customers-msg-1{
    grid-column: 2/3;
}
#customers-msg-2{
    grid-column: 4/5;
}
#customers-title{
    grid-column: 2/5;
    margin-top: 5vw;
    text-align: center;
}
#banner-breakfast, #banner-lunch, #banner-dinner{
    text-align: center;
    background-color: var(--paragraph-background-color);
    padding-top: 2vw;
    margin-top: 4vw;
}
#banner-breakfast:hover, #banner-lunch:hover, #banner-dinner:hover{
    background-color: var(--primary-color);
}
#banner-breakfast a, #banner-lunch a, #banner-dinner a{
    color: var(--paragraph-color-on-color);
}
#banner-breakfast{
    grid-column: 2/3;
}
#banner-lunch{
    grid-column: 4/5;
}
#banner-dinner{
    grid-column: 6/7;
}
#quality-title{
    grid-column: 4/6;
    margin-top: 5vw;
    text-align: center;
}


/* Specific food pages*/
.food-grid{
    display: grid;
    grid-template-columns: 0.5fr repeat(4, 1.5fr 1fr) 1.5fr 0.5fr;
}
#alternatives-title{
    grid-column: 2/11;
    text-align: center;
    color: var(--paragraph-color-on-color);
    background-color: var(--paragraph-background-color);
    margin-top: 2vw;
    padding: 1vw;
}
#food-img-1, #food-img-2, #food-img-3{
    grid-column: 2/5;
    width: 25vw;
    margin-top: 2vw;
    box-shadow: 5px 5px 10px 5px var(--shadow-color);
    transition: transform .8s;
}
#food-img-1:hover, #food-img-2:hover, #food-img-3:hover{
    opacity: .8;
    box-shadow: 5px 5px 10px 5px var(--nav-hover-background-color);
}
    #food-msg-1, #food-msg-2, #food-msg-3{
    grid-column: 5/10;
    padding-top: 2vw;
}
#food-alt-1, #food-alt-2, #food-alt-3, #food-alt-4, #food-alt-5{
    width: 10vw;
    margin-top: 1vw;
    box-shadow: 5px 5px 10px var(--shadow-color);
    transition: transform .5s;
}
#food-alt-1:hover, #food-alt-2:hover, #food-alt-3:hover, #food-alt-4:hover, #food-alt-5:hover{
    opacity: .7;
    transform: scale(1.1);
}
#food-alt-1{
    grid-column: 2/3;
}
#food-alt-2{
    grid-column: 4/5;
}
#food-alt-3{
    grid-column: 6/7;
}
#food-alt-4{
    grid-column: 8/9;
}
#food-alt-5{
    grid-column: 10/11;
}



/* Specific Site plan*/
.header-section {
    padding: 1em;
    text-align: center;
    color: var(--paragraph-color-on-color);
    background-color: var(--paragraph-background-color);
    grid-column: 1/3;
  }
.header-section > h1, .header-section > h2 {
    color: var(--headline-color-on-color);
}
p.colored {
    background-color: var(--paragraph-background-color);
    color: var(--paragraph-color-on-color);
    padding: 10px;
}
#content-site-plan{
    max-width: 1200px;
    margin: 0 auto;
/*    padding: 4em;*/
    font-size: 18px;
    text-align: center;
}
#quality-title{
    grid-column: 4/7;
    margin-top: 5vw;
}

@media screen and (max-width: 900px) {
    footer{
        margin-top: 4em;
    }
    img{
        margin: auto;
    }
    nav, footer, .navbar a {
        flex-direction: column;
    }
    nav{
        display: block;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    .navbar{
        position: relative;
        overflow: visible;
        display: contents;
    }
    #banner, .home-grid, .food-grid {
        display: block;
        height: auto;
    }
    .home-grid, .food-grid{
        text-align: center;
    }
    .general-msg{
        margin: 5%;
        margin-bottom: 4em;
    }
    #banner {
        margin-top: 0;
    }
    #banner-msg {
        margin-top: 0;
    }
    #banner-msg h4 {
        display: none;
    }
    #background {
        display: none;
    }
    #food-img-1, #food-img-2, #food-img-3{
        width: 70%;
    }
    #food-msg-1, #food-msg-2, #food-msg-3{
        margin-bottom: 4em;
    }
    #food-alt-1, #food-alt-2, #food-alt-3, #food-alt-4, #food-alt-5{
        width: 17vw;
        margin: 1vw;
    }
    #logo_link{
        display: flex;
    }
}

