@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&family=Montserrat:wght@300&family=Roboto+Slab:wght@300;400;500;600&display=swap');
body{
    background-color: black;
}
h1, h2, h4{
    background-color: white;
    margin: 0%;
    font-family:'Roboto Slab', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1{
    text-align: center;
    grid-column: 1/19;
    grid-row: 3/4;
    font-size: 4vw;
}
h2{
    text-align: center;
    grid-column: 3/17;
    grid-row: 4/5;
    color: grey;
    font-size: 1.7vw;
}
h3{
    background-color:#3F5B8B;
    grid-row: 5/6;
    margin: 0%;
}
h4{
    background-color: white;
    text-align: center;
    align-content: flex-end;
    grid-column: 1/19;
    grid-row: 2/3;
    align-self: flex-end;
    color: cornflowerblue;
    font-size: 1.5vw;
}
h5{
    background-color: white;
    grid-column: 1/19;
    grid-row: 2/5;
    margin: 0%;
}
h6{
    background-color:#3F5B8B;
    grid-column: 1/19;
    grid-row: 5/6;
    margin: 0%;
}
img{
    width: 100%;
    height: 100%;
}
.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.content-grid{
    grid-column: 2/3;
    overflow: hidden;
    border-radius: 4%;
}
.child-grid{
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: 3fr 0.5fr 1fr 3fr 1fr;
}
.picture{
    grid-column: 1/19;
    grid-row: 1/2;
}
.bottom-left{
    grid-column: 1/7;
    color: white;
    text-align: center;
}
.bottom-center{
    grid-column: 7/13;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    color: white;
    text-align: center;
}
.bottom-right{
    grid-column: 13/19;
    color: white;
    text-align: center;
}
#bl-1st{
    font-size: 2vw;
}
#bl-2nd{
    font-size: 1vw;
    align-self: flex-start;
}
#bc-1st{
    font-size: 2vw;
}
#br-1st{
    font-size: 2vw;
}
#br-sub{
    text-align: center;
    font-size: 1vw;
}#bl-sub{
    font-size: 1vw;
    text-align: center;
}#bc-sub{
    font-size: 1vw;
    text-align: center;
}